body{
margin:0;
background:#7a0000;
font-family:'Patrick Hand',cursive;
overflow:hidden;
}

#page1{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#7a0000;
}

h1{
font-size:42px;
margin-bottom:20px;
}

.tap{
color:white;
font-size:30px;
margin-bottom:15px;
animation:blink 1s infinite;
}

#envelope{
color:white;
width:180px;
animation:bounce 1.2s infinite;
cursor:pointer;
}
#page2{
display:none;
flex-direction:row;
align-items:center;
justify-content:center;
height:100vh;
background:#7a0000;
padding:25px;
color:white;
gap:40px;
}
.photo{
background:white;
padding:12px 12px 45px;
box-shadow:0 10px 25px rgba(0,0,0,.4);
transform:rotate(-8deg);
position:relative;
}

.photo::before{
content:"";
position:absolute;
top:-15px;
left:50%;
transform:translateX(-50%);
width:90px;
height:25px;
background:#d8c7a0;
}

.photo img{
width:260px;
display:block;
}
    background:#d8c7a0;
}
.photo img{
width:260px;
border-radius:10px;
box-shadow:0 0 20px rgba(0,0,0,.3);
}

.text{
max-width:500px;
font-size:28px;
line-height:1.6;
}
.text h2{
font-size:50px;
margin-bottom:20px;
}

@keyframes bounce{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-18px);}
}

@keyframes blink{
50%{opacity:.3;}
}
