body{

    margin:0;

    padding:0;

    background:white;

    overflow:hidden;

    font-family:'Patrick Hand',cursive;

}

#page1{

    position:relative;

    width:100%;

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    background:white;

    overflow:hidden;

}

#page1::before{

    content:"";

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    width:100%;

    max-width:900px;

    aspect-ratio:16/9;

    background:#7a0000;

    border-radius:8px;

    z-index:0;

}

#page1 h1{

    position:relative;

    z-index:2;

    color:white;

    font-size:48px;

    margin-bottom:30px;

    font-family:'Great Vibes',cursive;

}

.envelope-box{

    position:relative;

    z-index:2;

    display:flex;

    align-items:center;

    gap:20px;

}

.tap{

    color:white;

    font-size:24px;

    animation:blink 1s infinite;

    margin:0;

}

#envelope{

    width:190px;

    cursor:pointer;

    animation:bounce 1.3s ease-in-out infinite;

}
#page2{
    display:none;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:white;
}

.card{
    width:95%;
    max-width:390px;
    background:#7a0000;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    padding:15px;
    box-sizing:border-box;
    overflow:hidden;
}

.photo{
    width:95px;
    background:white;
    padding:6px 6px 20px;
    transform:rotate(-8deg);
    position:relative;
    box-shadow:0 6px 15px rgba(0,0,0,.35);
    flex-shrink:0;
}

.photo::before{
    content:"";
    position:absolute;
    width:40px;
    height:12px;
    background:#d8c7a0;
    top:-8px;
    left:50%;
    transform:translateX(-50%);
}

.photo img{
    width:100%;
    height:145px;
    object-fit:cover;
}

.text{
    flex:1;
    margin-left:18px;
}

.text h2{
    margin:0 0 6px;
    font-size:22px;
    color:white;
}

.text p{
    font-size:12px;
    line-height:1.6;
    margin:0;
}

@keyframes bounce{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-18px);}
}

@keyframes blink{
50%{opacity:.3;}
}
